@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap");

body {
    font-family: 'Nunito';
    width: 100%;
    background-image: linear-gradient(#3949ab, #6200ea);
}

h1 {
    text-align: center;
    color: #fff;
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
}

h2 {
    font-size: 18px;
    padding: 10px 20px;
    color: #fff;
    text-align: center;
}

#handle {
    margin-bottom: 5px;
    margin-top: 5px;
    text-align: center;
}

#CS-chat {
    max-width: 600px;
    margin: 30px auto;
    border: 1px solid #ddd;
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.05);
    border-radius: 2px;
    border-radius: 5px;
    z-index: 50;
}

#CS-window {
    height: 400px;
    overflow: auto;
    background: #f9f9f9;
}

#output p {
    padding: 14px 0px;
    margin: 0 20px;
    border-bottom: 1px solid #e9e9e9;
    color: #555;
}

#feedback p {
    color: #aaa;
    padding: 14px 0px;
    margin: 0 20px;
}

#output strong {
    color: #575ed8;
}

label {
    box-sizing: border-box;
    display: block;
    padding: 10px 20px;
}

input {
    padding: 10px 20px;
    box-sizing: border-box;
    background: #eee;
    border: 0;
    display: block;
    width: 100%;
    background: #fff;
    border-bottom: 1px solid #e63636;
    font-family: Nunito;
    font-size: 16px;
}

button {
    background: #575ed8;
    color: #fff;
    font-size: 18px;
    border: 0;
    padding: 12px 0;
    width: 100%;
    border-radius: 0 0 2px 2px;
}

button:hover {
    background: #6200ea;
}

img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.6;
    z-index: -40;
}